.containerMain {
    position: relative;
    width: 600px;
    /* left: calc(50vw - 600px - 20px); */
    /* 600px - block width,  20px - half width of burger in Logo*/

    background: #131316;
}

.columnsPuns {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* padding: 0px 16px; */

    width: 100%;

}

.col {
    /* Auto Layout */

    position: relative;
    width: 272px;
    max-width: 272px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 12px;

}

.break {
    flex-basis: 100%;
    height: 0;
}

.illustration {
    /* illustration */

    position: static;
    /* width: 240px;
    height: 120px; */
    left: 16px;
    top: 0px;

    /* Inside Auto Layout */
    
    

    flex: none;
    order: 0;
    flex-grow: 0;
}

.illustration img {
    max-width: 100%;
    max-height: 100%;
}
 
.price {
    /* price */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    padding: 4px 0px;    
}

.name {
    /* name */

    position: static;
    /* height: 48px; */
    /* width: 272px; */

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
}

.counter {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0px;
    top: 0px;

    background: #4C4CFF;
    border-radius: 16px;

    text-align: center;
}

.ingredients {
    max-height: calc(100vh - 56px - 100px - 88px - 80px);
    /* 56px - tab height, 100px - block header height (with paddings), 
       88px - main header height, 8px - for comfortable reading on frameless display  */
    overflow: auto;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}

.ingredients::-webkit-scrollbar-thumb {
    /* text/dark grey (secondary text) */

    background: #8585AD;
    /* text/dark grey (secondary text) */

    border: 3px solid #8585AD;
    box-sizing: border-box;
}

.nutritionDetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.nutritionElement {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
