.navigationPanel {
    /* navigation panel/desktop */

    position: absolute;
    height: 88px;
    left: 2%;
    right: 2%;
    top: 40px;

    /* interface/modal-bg */

    background: #1C1C21;
    /* interface/accent */

    box-sizing: border-box;
    /* card/x-large */

    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.content {
    /* content */

    position: absolute;
    width: 1280px;
    height: 56px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 56px/2);

}

.navigation {
    /* navigation */
    
    height: 56px;

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    /* interface/modal-bg */

    background: #1C1C21;
}

.navigationLink {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;

    /* interface/modal-bg */

    background: #1C1C21;
    /* interface/accent */

    /* border: 1px dashed #4C4CFF;
    box-sizing: border-box;
    border-radius: 40px; */

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}   

.icon24 {
    /* icon 24x24

    Interface icons 24x24
    */

    height: 24px;
    width: 24px;

    /* interface/accent */

    /* border: 1px dashed #4C4CFF; */

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px 0px 0px;
}

.name {
    /* name */

    position: static;

    /* interface/modal-bg */

    background: #1C1C21;
    /* interface/accent */

    /* border: 1px dashed #4C4CFF; */

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px 0px 4px;
}

.logo {
    /* logo */

    position: absolute;
    width: 289.15px;
    height: 40px;
    left: 495px;
    top: 8px;

    /* interface/modal-bg */

    background: #1C1C21;
    /* interface/accent */

    /* border: 1px dashed #4C4CFF; */
}

.logo svg {
    margin-top: -5px;
}