.containerMain {
  position: relative;
  width: 600px;
  left: 40px;
  /* 600px - block width,  20px - half width of burger in Logo*/

  background: #131316;
}

.totalInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

  padding: 0px 16px 60px 0px;
}

.price {
  /* price */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 4px 0px; 
}

.default svg {
  width: 24px;
  height: 24px;
}

.medium svg {
  width: 36px;
  height: 36px;
}

.large, .large svg {
  
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  width: 48px;
  height: 48px;
}

.pentaSmall {
  background: radial-gradient(50% 50% at 50% 50%, rgba(128, 26, 179, 0) 0%, rgba(76, 76, 255, 0.125) 100%);
}

.pentaMedium {
  background: radial-gradient(50% 50% at 50% 50%, rgba(128, 26, 179, 0) 0%, rgba(76, 76, 255, 0.25) 100%);
}

.pentaLarge {
  background: radial-gradient(50% 50% at 50% 50%, rgba(128, 26, 179, 0) 0%, rgba(76, 76, 255, 0.25) 100%);
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.optionalIngredients {
  max-height: calc(100vh - 2*80px - 100px - 88px - 40px - 64px - 60px - 20px - 8px);
  /* 80px - top (and bot) bun height, 100px - block header height (just padding), 
      88px - main header height,  40px - bottom padding, 64px - total price height,
      20px - two gaps (top and bot), 8px - for comfortable reading on frameless display  */
  overflow: auto;
  padding-left: 8px; /* 8px is the scrollbar width */
}

.optionalIngredients::-webkit-scrollbar {
  width: 8px;
}

.optionalIngredients::-webkit-scrollbar-thumb {
  /* text/dark grey (secondary text) */

  background: #8585AD;
  /* text/dark grey (secondary text) */

  border: 3px solid #8585AD;
  box-sizing: border-box;
}

.orderId {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.orderDetail {
  align-items: center;
}

.orderDone {

  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  padding: 60px 0px;

}

.doneImage {
  position: absolute;
  width: 140px;
  height: 120px;
  left: 281.5px;
  top: 360.51px;

  background-image: url('../../images/orderDone.png');
  background-size: cover;
}