.containerMain {
  position: relative;
  width: 600px;
  left: 40px;
  /* 600px - block width,  20px - half width of burger in Logo*/

  background: #131316;
}

.totalInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

  padding: 0px 16px 60px 0px;
}

.price {
  /* price */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 4px 0px; 
}

.default svg {
  width: 24px;
  height: 24px;
}

.medium svg {
  width: 36px;
  height: 36px;
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.optionalIngredients {
  max-height: calc(100vh - 2*80px - 100px - 88px - 40px - 64px - 60px - 20px - 8px);
  /* 80px - top (and bot) bun height, 100px - block header height (just padding), 
      88px - main header height,  40px - bottom padding, 64px - total price height,
      20px - two gaps (top and bot), 8px - for comfortable reading on frameless display  */
  overflow: auto;
  padding-left: 8px; /* 8px is the scrollbar width */
}

.optionalIngredients::-webkit-scrollbar {
  width: 8px;
}

.optionalIngredients::-webkit-scrollbar-thumb {
  /* text/dark grey (secondary text) */

  background: #8585AD;
  /* text/dark grey (secondary text) */

  border: 3px solid #8585AD;
  box-sizing: border-box;
}
